# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/_assets/img/
/_System/apps/
/_assets/css/images/
*.jpg
*.jpeg
/_assets/fonts/
/_assets/css/fontello/font/
**/desktop.ini