<!DOCTYPE html>
{% capture html -%}
<html><!-- InstanceBegin template="/Templates/Inner Template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title>{% include"/_System/Includes/regions.inc" %}{{site}} Blogs </title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" -->


        















        <meta name="description" content="View a quick list of {{site}} blogs created to inform the readers about the lifestyle in {{county}}, give helpful tips on apartment living in {{citiesServed}}, and connect the readers to local resources and businesses." />
    
<!-- InstanceEndEditable -->
{% include"/_System/Includes/head.inc" %}
</head>
<body>
 {% comment -%}<!--must update regions, _header and _footer anytime a new domain is added to the site-->{% endcomment -%}
 {% include"/_System/Includes/_header.inc" %} 
<section class="two-column-area">
  <div class="row">
    <div class="medium-8 columns left_area_panel">
      <div class="content_area"> <!-- InstanceBeginEditable name="ContentArea" -->
        {%assign filter = "classified" -%} {% if {{region == 'Marin'}} -%} {%assign itemid = 'itemid="118221"' -%} {% elseif {{region}} == 'Sonoma' -%} {%assign itemid = 'itemid="118220"' -%}
        {% endif -%}
          {% case region -%}
          {% when 'RentPFI' -%}
           {module_blog,a}
          {% else -%}
           <p>{module_blog filter="{{filter}}" {{itemid}}}</p>
          {% endcase -%} 

    
<!-- InstanceEndEditable --> </div>
    </div>
    <div class="medium-4 columns right_area_panel">
      <div class="side_panel">
          {% include"/_System/Includes/inner-side-panel.inc" %} 
      </div>
    </div>
  </div>
</section>
{% include"/_System/Includes/_footer.inc" %} 
{% include"/_System/Includes/scripts.inc" %}
</body>
<!-- InstanceEnd --></html>
{% endcapture -%}{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}