<section class="logo-wraper">
  <div class="row">
    <div class="small-12 columns">
      <ul class="logo-slider">
        {module_webapps collection="propertyLogoWebapp" render="collection" id="Logo Slider Sonoma" filter="all" template=""}
		{% for item in propertyLogoWebapp.items %}
          <li>
          <div class="small-12 left">
            {% if item.['Property'] != '' -%}
             {module_webapps collection="myPropertyInfoWebapp" render="collection" id="Property Info Sonoma"  filter="item" itemId="{{item.['Property_id']}}" template=""}
             {% for item in myPropertyInfoWebapp.items %}
              <figure><a href="{{item.url}}">
              {% endfor -%}
              {% else %}
              <figure><a href="{{item.['URL']}}">
              {% endif -%}              
              <img src="{{item.['Green Logo']}}"></a></figure>
          </div>
        </li>   
        {% endfor -%}
      </ul>
    </div>
  </div>
</section>