{% include"/_System/Includes/regions.inc" %} 
{% comment -%}<!--assign blog Variables-->{% endcomment -%}
{%capture blogURL-%}{tag_itemurl_nolink}{%endcapture-%}
{% capture postBody -%}{tag_blogpostbody}{% endcapture -%}
{% comment -%}<!--assign Facebook App ID Variables for regions-->{% endcomment -%}
{% if {{region}} == 'Marin' -%}
{% assign fbapp_id = "558419337825654" -%}
{% elseif {{region}} == 'Sonoma' -%}
{% assign fbapp_id = "567762963572517" -%}
{% else -%}
{% assign fbapp_id = "163420730963523" -%}
{% endif -%}
<head>
<meta property="og:title" content="{tag_blogposttitle_nolink}" />
{% if '{tag_blogpostmetadescription}' == '' -%}
{% capture postMetaDesc -%}{tag_blogposttitle_nolink} {% endcapture -%}   
{% else -%}
{% capture postMetaDesc -%}{tag_blogpostmetadescription} {% endcapture -%}    
<meta property="og:description" content="{{postMetaDesc | Truncate: 160}}" />
<meta name="description" content="{{postMetaDesc | Truncate: 160}}" />    
{% endif -%}    
<meta property="og:image" content="{module_defaulturl}{tag_blogpostfeaturedimageurl}" />
<meta property="og:url" content="{module_pageaddress}" />  
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="{{fbapp_id}}" />    
</head>
{% assign myDate = date %}

{% include "/bc-widgets/friendly-date/init.liquid" -%}
<div class="large-11 medium-12 left">
    <div class="block-title">
        <h3>{tag_blogposttitle_nolink}</h3>
        <div class="line"></div>
    </div>
    <div class="blog-details">
        {% if postFeaturedImage and postFeaturedimage != "" -%}
        <div class="blog-large-iamge">
            <figure><img alt="{tag_blogposttitle_nolink}" src="{{postFeaturedImage}}?Action=thumbnail&Width=693&Height=416&algorithim=fill_proportional"> </figure>
        </div>
        {% endif -%}                
        <div class="post-meta">
            <ul>
                {module_data resource="blogposts" version="v3" fields="tag" subresource="tags" resourceId="{tag_blogpostid}" skip="0" limit="10" order="objectType" collection="postTags"}
                {%capture hashtags-%}{% for item in postTags.items -%}{{item.tag.tagName | remove:" "}},{% endfor -%}{%endcapture-%}
                <li><em class="fa fa-pencil"></em><span> {% for item in postTags.items -%} <a href='tag/{{item.tag.tagName}}'>{{item.tag.tagName}}&nbsp;&nbsp;/&nbsp;&nbsp;</a> {% endfor -%} </span> </li>
                <li><em class="fa fa-calendar"></em>{tag_blogpostday}-{tag_blogpostmonth}-{tag_blogpostyear}</li>
                <li><em class="fa fa-comment"></em><a href="{tag_permalinkonly}#comments">{tag_commentcount} Comments </a></li>
                <li><em class="fa fa-user"></em>{tag_blogpostauthor}</li>
                <li><em class="fa fa-calendar-o"></em> Posted {{friendlyDate}} ago</li>
            </ul>
        </div>
        <div class="post-desc"> 
            {{postBody | strip }}
            <p>
                <span class="social-share"> 
                   <a class="facebook customer share" href="https://www.facebook.com/sharer.php?u=http://{module_siteUrl}{{blogURL}}" title="Facebook share" target="_blank"><em class="fa fa-facebook" aria-hidden="true"></em></a> 
                   <a class="twitter customer share" href="https://twitter.com/intent/tweet?url={module_siteUrl,true,true}{{blogURL | url_param_escape}}&hashtags={{hashtags}}" title="Twitter share" target="_blank"><em class="fa fa-twitter" aria-hidden="true"></em></a> 
                   <a class="linkedin customer share" href="https://www.linkedin.com/shareArticle?mini=true&url=http://{module_siteUrl}{{blogURL}}" target="_blank" title="linkedin Share"><em class="fa fa-linkedin" aria-hidden="true"></em></a> 
                   <a href="mailto:?subject=I wanted you to see this blog post - {tag_blogposttitle_nolink}&amp;body=Check out this blog post http://{module_siteUrl}{{blogURL}}"><em class="fa fa-envelope" aria-hidden="true"></em></a>
              </span>
            </p>
        </div>
        <div class="comment_listview">
            <div class="small-12 left">
                <div class="large-4 medium-5 small-6 left">
                    <div class="block-title">
                        <h3>Comment</h3>
                        <div class="line small"></div>
                    </div>
                </div>
            </div>  
            <ul> {tag_commentspaged} </ul>
        </div>
        
        <div class="comment-form">
            <a name="comments"></a>
            <div class="block-title">
                <div class="line"></div>
            </div>
            <h3>Leave Comments</h3>
            <form onsubmit="return checkWholeForm(this)" action="/RatingProcess.aspx?OID={tag_blogpostid}&amp;OTYPE={tag_blogposttype}" method="post">
                <div class="row">
                    <div class="large-7 medium-6 small-12 columns">
                        <label>Your Name</label>
                        <input type="text" maxlength="255" name="fullname" class="cat_textbox_small" placeholder="Full Name" />
                    </div>
                    <div class="large-5 medium-6 small-12 columns">
                        <label>Your Email </label>
                        <input type="text" maxlength="255" name="emailaddress" class="cat_textbox_small" placeholder="Email Address" />
                    </div>
                    <div class="large-7 medium-6 small-12 columns">
                        <label>Enter Word Verification in box below</label>
                        {module_captchav2} </div>
                    <div class="large-5 medium-6 small-12 columns">
                        <label>Website (optional)</label>
                        
                        <input type="text" maxlength="255" name="website" class="cat_textbox_small" placeholder="Website" />
                    </div>
                    <div class="large-12 medium-12 small-12 columns">
                        <label>Comments</label>
                        <textarea name="Feedback" class="cat_listbox_small" placeholder="Your Comment here.. "></textarea>
                    </div>
                    <div class="large-12 medium-12 small-12 columns">
                        <input type="submit" value="ADD COMMENT">
                    </div>
                </div>
                <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script>
                <script type="text/javascript">
                    //<![CDATA[
                    function checkWholeForm(theForm) {
                        var why = "";
                        if (theForm.EmailAddress)
                            if (theForm.EmailAddress.value.length > 0) why += checkEmail(theForm.EmailAddress.value);
                        if (theForm.CaptchaV2) why += isEmpty(theForm.CaptchaV2.value, "Enter Word Verification in box below");
                        if (why != "") {
                            alert(why);
                            return false;
                        }
                        return true;
                    }
                    //]]>
                </script>
            </form>
        </div>

    </div>
</div>
