<li>
<div class="small-12 columns">
                <div class="ouragents-block ">
                  <div class="ouragents-image">
                      <figure><a href="{tag_itemurl_nolink}"><img src="{tag_image_value}"></a></figure>
                  </div>
                  <div class="ouragents-desc">
                      <h4>{tag_name}</h4>
                      {tag_small description}
                    <div class="agents-view">
                        <h4>{tag_name}</h4>
                        <p><a href="tel:{tag_office phone number}"><em class="fa fa-phone"></em>{tag_office phone number}</a></p>
                        <p><a href="tel:{tag_mobile number}"><em class="fa fa-mobile"></em>{tag_mobile number}</a></p>
                        <p><a href="mailto:{tag_email id}"><em class="fa fa-envelope"></em>{tag_email id}</a></p>
                        <p><a href="#"><em class="fa fa-skype"></em>{tag_skype user name}</a></p>
                    </div>
                  </div>
                  <div class="agents-footer">
                    <ul>
                        <li><a href="{tag_twitter link}"><em class="fa fa-twitter"></em></a></li>
                        <li><a href="{tag_facebook link}"><em class="fa fa-facebook"></em></a></li>
                        <li><a href="{tag_linkedin link}"><em class="fa fa-linkedin"></em></a></li>
                        <li><a href="{tag_google-plus link}"><em class="fa fa-google-plus"></em></a></li>
                        <li><a href="{tag_rss link}"><em class="fa fa-rss"></em></a></li>
                    </ul>
                  </div>
                </div>
              </div>
</li>