<!DOCTYPE html>
{% capture html -%}
<html><!-- InstanceBegin template="/Templates/Features.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" --><title></title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" -->
        













        <meta name="robots" content="noindex" />
    <!-- InstanceEndEditable -->
{% include"/_System/Includes/head.inc" %}
</head>
<body>
{% include"/_System/Includes/_header.inc" %} 
<section class="inner-banner-bg"> <!--<img src="/_assets/img/banner-1.png" />-->
  <div class="banner-caption">
    <div class="row">
      <h1></h1>
    </div>
  </div>
</section>
<section class="interior_content">
  <div class="row">
    <div class="large-12 columns"> <!-- InstanceBeginEditable name="ContentArea" -->
        <section class="main_content">
            <div class="small-12 left">
                <div class="large-4 medium-6 small-11 left">
                    <div class="block-title">
                        <h1>Announcements</h1>
                        <div class="line small">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div id="MarinAnnouncements" style="display: none">
                <p>{module_announcement filter="classified" itemid="118221"}</p>
            </div>
            <div id="SonomaAnnouncements" style="display: none">
                <p>{module_announcement filter="classified" itemid="118220"}</p>
            </div>
            <div id="RentPFIAnnouncements" style="display: none">
                <p>{module_announcement filter="all"}</p>
            </div>
        </section>
    <!-- InstanceEndEditable --> </div>
  </div>
</section>
{module_contentholder, name="Newsletter {{region}} Section"}
<!--end section main--> 
<!-- footer  --> 
{% include"/_System/Includes/_footer.inc" %} 
<!-- end footer  --> 
{% include"/_System/Includes/scripts.inc" %} 
<!-- include scripts -->
</body>
<!-- InstanceEnd --></html>
{% endcapture -%}{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}