


<li class="hero-content"> <img src="{tag_image_value}">
      <div class="hero-caption">
        <div class="row">
          <div class="medium-12 column">
            <div class="hero-detail">
              <div class="hero-box">
                  <h5>{tag_name_nolink}</h5>
                  {tag_description}
                  <h6>$ {tag_price}</h6>
              </div>
              <ul>
                <li><img src="_assets/img/sqr-foot-icon.png">
                    <h6>{tag_square foot} Sq. Feet</h6>
                </li>
                <li><img src="_assets/img/bedroom-icon.png">
                    <h6>{tag_badroom}</h6>
                </li>
                <li><img src="_assets/img/bathtub-icon.png">
                    <h6>{tag_bathroom}</h6>
                </li>
              </ul>
                <a class="button primary large" href="{tag_url}">More Details</a> </div>
          </div>
        </div>
      </div>
    </li>